.recommended-container {
    padding-bottom: 20px;
}

.recommend-flex {
    display: flex;
    margin-left: 20rem;
}

.recommend-title {
    margin-left: 20rem;
    margin-bottom: 20rem;
    margin-top: 20rem;
    font-size: 20px;
}