nav {
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 2;
    margin-left: 2rem;
}

input {
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 14rem;
}

input:focus {
    outline: none;
}

*:focus {
    outline: 0;
}

.profile-container {
    display: flex;
    gap: 1.5rem;
}

.nav-icons {
    width: 1.5rem;
    height: 1.5rem;
}

@media only screen and (max-width: 480px) {
    nav {
        margin-left: 8rem;
        justify-content: flex-end
    }

    .profile-container {
        gap: 0.5rem;
    }

    input {
        width: 7rem;
        padding: 10px;
    }

    .nav-icons {
        width: 1rem;
        height: 1rem;
    }
}