body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

*:focus {
  outline: 0;
}


.btns {
  padding: 10px 20px;
  margin-right: 6px;
  margin-bottom: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}

.btns:hover {
  background: #f0efef;
}

.container {
  padding-left: 18%;
}

@media only screen and (max-width: 480px) {
  .container {
    padding-left: 39%;
  }
}